    
       
.h1{
    background-color: azure;
    width: 300px;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 20px;
    box-shadow: 20px 5px 40px rgb(82, 85, 83);;
    text-shadow: 2px 2px 4px rgb(101, 244, 165, 0.874);
    font-family: "Brush Script MT",cursive;
    

}
body{
    background-color: rgb(101, 244, 165, 0.874);
    /* text-align: center;
    */
}

@media only screen and (max-width: 455px){
    body{
        background-color: red;
    }
  
}
  /* .box:first-child{
            background-color: red;
        } */

        /* .box::first-line{
            color: yellow;
        } */

        /* .boxes *{
            color: blue;
            border: 2px solid black;
        }

        p, a, .box, [data-color="primary"]{
            padding-top: 45px;
        } */

        /* .box:nth-child(odd){
            background-color: blue;
        } */

        /* .box:nth-last-child(2){
            background-color: red;
        } */

        .boxes::before {
            content: " is good";
            color: blue;
        }

        .boxes::after {
            content: " also good";
            color: red;
        }

        ::selection {
            background-color: black;
            color: aqua;
        }

        .box::first-letter {
            color: peru;
            font-size: 45px;
        }

        input::placeholder {
            color: rgb(38, 38, 225);
        }
        .container{
            border: 2px dotted red;
            height: 15vh; 
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 100vh;
            /* row-gap: 30px; */
            column-gap: 20px;
            flex-wrap: wrap;
            align-content: flex-start;


        }
        .item{
            border: 3px solid black;
            height: 32px;
            width: 32px;
            /* margin: 4px; */
            background-color: blueviolet;
        }
         /* * {
            margin: 0;
            padding: 0;
        } */

        .boxT {
            height: 50px;
            width: 50px;
            background-color: beige;
            border: 2px solid black;
            transform: rotate(0.125turn);
            transform-origin: -50% -50%;
            /* transform: rotateZ(9deg); */
            /* transform: skewY(34deg); */
            /* transform: translateY(100%) skewX(40deg) translateX(45%); */
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container1 {
            margin: 55px;
            width: 100vw;
            height: 80vh;
            border: 2px solid purple;
        }
    
