 #nav1 {
     background-color: rgb(21, 185, 240);
     color: red;
 }

 #tow {
     color: yellow;
     background-color: blueviolet;
 }

 #nj div>p {
     background-color: aqua;
     color: red;
 }

 .box {
     background-color: aqua;
 }

 .box1 {
     color: yellow;
     padding: 10px;
     margin: 5px;
     border: 2px solid black;
     width: 110px;

 }

 .box2 {
     color: red;
     padding: 10px;
     margin: 5px;
     border: 2px dotted black;
     width: 110px;
 }

 #one {
     color: pink;
     background: rgb(247, 245, 245);
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-style: italic;
     text-decoration: underline;
 }

 #three {
     line-height: 2;
     color: blue;
     text-decoration: overline;
     /* letter-spacing: 12px; */
     /* text-transform: capitalize; */
     /* text-transform: lowercase; */

 }

 /* body{
    background-color: rgb(105, 82, 105);
} */

 .nj {
     border: 2px solid black;
     display: inline-block;
     /* display: inline; */
     padding: 45px;
     margin: 35px;
     width: 10px;
     /* display: none;
    box remove and space also remove  */
     /* visibility: hidden;
    box are remove but space is not remove */


 }

 .jn {
     border: 2px solid black;
     display: inline-block;
     /* display: inline; */
     padding: 45px;
     margin: 35px;
     width: 10px;
     /* display: none; */
     /* display: none;
    box remove and space also remove  */
     /* visibility: hidden;
    box are remove but space is not remove */

 }

 /* *{
    margin: 0px;
    padding: 0px;
} */
 .ea {
     border: 3px solid;
     padding: 2px;
     margin: 20px;
     /* box-shadow: h-offset , v-offset ,blur spread , color insert; */
     box-shadow: 5px 15px 5px rgb(85, 82, 82);
 }

 #jn {
     /* border: 3px solid; */
     margin: 30px;
     /* text-shadow: h-offset , v-offset ,blur spread , color insert;  */
     text-shadow: 2px 2px 4px rgb(85, 82, 82);

 }

 #nav2 ul li {
     list-style: devanagari;
     text-shadow: 2px 2px 4px rgb(85, 82, 82);
     background-color: rgba(16, 70, 135, 0.929);
     color: red;
     list-style-position: inside;
     border: 2px solid;
     /* list-style-image: url(text.png); */
     list-style-type: "😊";
     /* list-style: disc inside "💕" ; */

 }

 #p1 {
     width: 400px;
     height: 35px;
     border: 2px solid black;
     overflow: scroll;
     text-overflow: ellipsis;
 }

 .box4 {
     border: 2px solid black;
     height: 130px;
     width: 200px;
     padding: 4px;
     margin: 4px;
     border-radius: 20px;
 }

 #box1 {
     background-color: aliceblue;
     /* position: absolute;
    top: 0px;
    left: 0px; */
     /* position: sticky;
    top: 0px;
    height: 111px;
    width: 100%;
    padding: 0;
    margin: 0; */
 }

 #box2 {
     background-color: aqua;
     position: relative;
     /* top: 10px;
    left: 50px; */
     /* z-index: 1;
    z-index:use for index for box 
   above any element use befor we use position static to relative      */

 }

 #box3 {
     background-color: aquamarine;
     padding: 0px;
     margin: 0px;

     /* position: fixed;
    bottom:0px;
    left: 5px;
    box-shadow:   25px 5px 50px rgb(85, 82, 82); */
 }

 ;

 #box4 {
     background-color: beige;
 }

 .parent {
     border: 3px solid purple;
     padding: 43px;
     margin: 34px;
     border-radius: 20px;
     /* position: absolute; */
 }

 .h1 {
     border: 2px solid black;
     width: 400px;
     border-radius: 19px;
     text-shadow: 2px 2px 2px rgb(85, 82, 82);
     box-shadow: 20px 5px 40px rgb(85, 82, 82);
     display: flex;
    justify-content: center; 
    align-items: center;  
    

 }

 #p2 {
     border: 2px solid black;
     width: 300px;
     border-radius: 15px;
     display: flex;
     justify-content: center;
     align-items: center;
     /* text-align: center; */
 }